# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weatherdata = "../output_data/WeatherPyData.csv"

weather_df =pd.read_csv(weatherdata)

weather_df

,Cities,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temperature,Wind Speed
0,Hambantota,97,LK,1610148898,85,6.1241,81.1185,76.77,5.03
1,Vaini,40,TO,1610148899,79,-21.2000,-175.2000,84.20,10.36
2,Te Anau,11,NZ,1610148900,48,-45.4167,167.7167,64.99,4.41
3,Ranong,20,TH,1610148902,88,9.9658,98.6348,75.20,4.52
4,Balkanabat,0,TM,1610148789,62,39.5108,54.3671,38.37,5.46
...,...,...,...,...,...,...,...,...,...
568,Abu Dhabi,0,AE,1610149485,41,24.4667,54.3667,59.00,3.44
569,Pinega,90,RU,1610149552,91,64.7001,43.3936,-7.74,3.65
570,Launceston,75,AU,1610149257,68,-41.4500,147.1667,70.00,14.97
571,Vaitape,4,PF,1610149554,69,-16.5167,-151.7500,81.25,7.07
572,Buzoeşti,100,RO,1610149555,97,44.5833,24.9167,36.70,4.00

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
areas = weather_df[["Latitude", "Longitude"]]

humid = weather_df["Humidity"].astype(float)
humidfig = gmaps.figure()
humidlayer = gmaps.heatmap_layer(areas, weights=humid, dissipating=False, max_intensity= 5, point_radius=1)
humidfig.add_layer(humidlayer)
humidfig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

Conditions:

  * A max temperature lower than 80 degrees but higher than 70.

  * Wind speed less than 10 mph.

  * Zero cloudiness.

  * Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

  * **Note:** Feel free to adjust to your specifications but be sure to limit the number of rows returned by your API requests to a reasonable number.

In [15]:
niceweather = weather_df.loc[(weather_df['Max Temperature']<80) & (weather_df['Max Temperature']>70) & (weather_df['Wind Speed']<10) & (weather_df['Cloudiness'] == 0)]

niceweather

,Cities,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temperature,Wind Speed
18,Saint-Joseph,0,RE,1610148920,68,-21.3667,55.6167,73.40,6.91
39,Saint-Philippe,0,RE,1610148944,68,-21.3585,55.7679,78.80,6.91
100,Arlit,0,NE,1610149013,20,18.7369,7.3853,72.81,5.57
114,Cidreira,0,BR,1610148963,68,-30.1811,-50.2056,74.80,8.99
244,Saint-Pierre,0,RE,1610149176,68,-21.3393,55.4781,73.40,6.91
278,Cabedelo,0,BR,1610149216,83,-6.9811,-34.8339,78.80,5.75
294,Port Lincoln,0,AU,1610149236,58,-34.7333,135.8667,72.48,7.16
325,Makkah al Mukarramah,0,SA,1610149277,64,21.4267,39.8261,73.49,2.13
331,Saint-Leu,0,RE,1610149284,68,-21.1500,55.2833,77.00,4.61
334,Mount Gambier,0,AU,1610149287,56,-37.8333,140.7667,71.60,3.44
406,Soke,0,ML,1610149368,16,13.5980,-5.9386,79.18,8.37
460,Gao,0,ML,1610149429,18,16.6362,1.6370,75.24,9.98
497,Adrar,0,MR,1610149470,39,20.5022,-10.0711,70.56,8.23
537,Robe,0,AU,1610149516,52,-37.1833,139.7500,71.60,6.73

In [14]:
#make sure there are no null values
niceweather.isnull().values.any()

False

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [18]:
hotel_df = niceweather.copy()

hotel_df['Hotel Name'] = ""

hotelurl = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

params = { "key": g_key, "radius": 5000, "type": "lodging", "keyword": "hotel"}

print("searching for hotels w/in 5000 mile radius")

for index, row in hotel_df.iterrows():
    nicelat = row['Latitude']
    nicelong = row['Longitude']
    params['location'] = f"{nicelat}, {nicelong}"
    response = requests.get(hotelurl, params=params).json()
    hotelpull = response['results']
    try:
        hotel_df.loc[index, "Hotel Name"] = hotelpull[0]['name']
    except (KeyError, IndexError):
        hotel_df.loc[index, "Hotel Name"] = "Not Available"
print("Done with pull")

searching for hotels w/in 5000 mile radius
Done with pull

In [19]:
hotel_df

,Cities,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temperature,Wind Speed,Hotel Name
18,Saint-Joseph,0,RE,1610148920,68,-21.3667,55.6167,73.40,6.91,Village Sauvage
39,Saint-Philippe,0,RE,1610148944,68,-21.3585,55.7679,78.80,6.91,Pinpin d'Amour
100,Arlit,0,NE,1610149013,20,18.7369,7.3853,72.81,5.57,Hôtel Telwa Bungalow
114,Cidreira,0,BR,1610148963,68,-30.1811,-50.2056,74.80,8.99,Hotel Castelo
244,Saint-Pierre,0,RE,1610149176,68,-21.3393,55.4781,73.40,6.91,LODGE PALMAE
278,Cabedelo,0,BR,1610149216,83,-6.9811,-34.8339,78.80,5.75,Hotel Almagre
294,Port Lincoln,0,AU,1610149236,58,-34.7333,135.8667,72.48,7.16,Port Lincoln Hotel
325,Makkah al Mukarramah,0,SA,1610149277,64,21.4267,39.8261,73.49,2.13,Pullman Zamzam Makkah
331,Saint-Leu,0,RE,1610149284,68,-21.1500,55.2833,77.00,4.61,Iloha Seaview Hotel
334,Mount Gambier,0,AU,1610149287,56,-37.8333,140.7667,71.60,3.44,The Old Mount Gambier Gaol
406,Soke,0,ML,1610149368,16,13.5980,-5.9386,79.18,8.37,Not Available
460,Gao,0,ML,1610149429,18,16.6362,1.6370,75.24,9.98,Not Available
497,Adrar,0,MR,1610149470,39,20.5022,-10.0711,70.56,8.23,Not Available
537,Robe,0,AU,1610149516,52,-37.1833,139.7500,71.60,6.73,Aloha Highview Robe

In [22]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{Cities}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [26]:
# Add marker layer ontop of heat map
humidhotel = hotel_df['Humidity']

fighotel =gmaps.figure()
fighotel.add_layer(gmaps.heatmap_layer(locations, weights=humidhotel, max_intensity=20))
fighotel.add_layer(gmaps.marker_layer(locations, info_box_content=hotel_info))
# Display figure
fighotel

Figure(layout=FigureLayout(height='420px'))